@charset "utf-8";

body {
  font-family: "メイリオ";
  color: #24292E;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
} 

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #24292E;
}

h2 {
  font-size: 24px;
  margin-top: 130px;
  margin-bottom: 65px;
}

.wrapper {
  /* box-sizing: border-box; */
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
}

header {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

h1 img {
  width: 120px;
  height: 27px;
  line-height: 0;
}

header ul {
  display: flex;
}

header li {
  font-size: 14px;
  padding-left: 30px;
}

#insta-logo {
  width: 20px;
  height: 20px;
}

li {
  display: inline;
}

#main-visual-pc {
  margin-bottom: 80px;
}

#main-visual-pc img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}

#about > div {
  text-align: left;
}

#about p {
  font-size: 14px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 31%;
  height: auto;
  margin-bottom: 23px;
}

.year-top {
  font-size: 14px;
  height: 51px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #C8C8C8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C8C8C8;
}

.ivent-top {
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
  padding-left:85px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #C8C8C8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C8C8C8;
}

.year {
  font-size: 14px;
  height: 51px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C8C8C8;
}

.ivent {
  width: 100%;
  font-size: 14px;
  text-align: left;
  padding-left: 85px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C8C8C8;
}

.contact-texts div {
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
}

.contact-texts label {
  display: block;
  text-align: left;
  width: 117px;
  font-size: 14px;
}

.contact-texts input {
  width: 100%;
  height: 43px;
  border-style: solid;
  border-width: 1px;
  border-color: #C8C8C8;
}

.contact-texts textarea {
  width: 100%;
  height: 130px;
  border-style: solid;
  border-width: 1px;
  border-color: #C8C8C8;
}

.submit-button {
  width: 200px;
  height: 53px;
  color: #FFFFFF;
  font-size: 14px;
  background-color: #24292E;
  border-style: solid;
  border-width: 1px;
  border-color: #24292E;
  margin:30px auto 130px auto
}

footer {
  height: 35px;
  background-color: #24292E;
  display: flex;
  justify-content: center;
}

footer > p {
  color: #FFFFFF;
  font-size: 10px;
}

@media screen and (min-width: 601px) {
  #main-visual-sp {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 102px;
    padding: 20px 0 15px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;    
  }

  h2 {
    margin-top: 70px;
    margin-bottom: 40px;   
  }

  h1 {
    margin: 20px auto 0 auto;
  }

  h1 img {
    width: 143px;
    height: 36px;
  }

  header ul {
    margin-bottom: 15px;
  }

  header li {
    font-size: 13px;
  }

  #main-visual-pc {
    display: none;
  }

  #main-visual-sp {
    margin-bottom: 80px;
  }
  
  #main-visual-pc img {
    width: 100%;
    max-width: 640px;
    height: 760px;
    object-fit: cover;
  }

  .item {
    width: 100%;
  }

  .ivent-table td {
    width: 100%;
    display: block;
    text-align: left;
  }
  
  .year-top {
    border-bottom-style: none;
    height: auto;
    padding-top: 15px;
  }

  .ivent-top {
    border-top-style: none;
    height: auto;
    padding: 0 0 15px 0;
  }

  .year {
    border-bottom-style: none;
    height: auto;
    padding-top: 15px;
  }

  .ivent {
    height: auto;
    padding: 0 0 15px 0; 
  }

  .contact-texts > div {
    display: flex;
    flex-direction: column;
  }

  .submit-button {
    margin-bottom: 70px;
  }
  
}